USE [QuanLySanCauLong]
GO
/****** Object:  Table [dbo].[mat_hang]    Script Date: 03/07/2025 8:40:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mat_hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_hang] [nvarchar](100) NOT NULL,
	[gia_ban] [decimal](10, 2) NOT NULL,
	[don_vi_chinh] [nvarchar](20) NULL,
	[don_vi_quy_doi] [nvarchar](20) NULL,
	[so_luong_quy_doi] [int] NULL,
	[gia_nhap] [decimal](10, 2) NULL,
	[loai] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[don_vi] [nvarchar](20) NULL,
	[hinh_anh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ton_kho]    Script Date: 03/07/2025 8:40:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ton_kho](
	[item_id] [int] NOT NULL,
	[so_luong_ton] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_xem_ton_kho_chi_tiet]    Script Date: 03/07/2025 8:40:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_xem_ton_kho_chi_tiet]()
RETURNS TABLE
AS
RETURN
(
    SELECT 
        mh.id AS item_id,
        mh.ten_hang,
        mh.loai,
        mh.don_vi_chinh,
        mh.don_vi_quy_doi,
        mh.so_luong_quy_doi,
        mh.gia_nhap,
        mh.gia_ban,
        tk.so_luong_ton AS tong_so_luong_ton,
        -- Tính số thùng
        CASE 
            WHEN mh.so_luong_quy_doi > 1 THEN FLOOR(tk.so_luong_ton * 1.0 / mh.so_luong_quy_doi)
            ELSE NULL
        END AS so_thung,
        -- Số lẻ còn lại
        CASE 
            WHEN mh.so_luong_quy_doi > 1 THEN tk.so_luong_ton % mh.so_luong_quy_doi
            ELSE tk.so_luong_ton
        END AS le_don_vi
    FROM ton_kho tk
    JOIN mat_hang mh ON tk.item_id = mh.id
);
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 03/07/2025 8:40:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[court_id] [int] NOT NULL,
	[date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[type] [nvarchar](20) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[created_at] [datetime] NULL,
	[is_paid] [bit] NULL,
	[payment_method] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courts]    Script Date: 03/07/2025 8:40:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 03/07/2025 8:40:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](400) NULL,
	[phone] [varchar](20) NULL,
	[role] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[password] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 03/07/2025 8:40:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[position] [varchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice_details]    Script Date: 03/07/2025 8:40:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[total_price]  AS ([quantity]*[unit_price]) PERSISTED,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 03/07/2025 8:40:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[is_paid] [bit] NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhap_kho]    Script Date: 03/07/2025 8:40:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhap_kho](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[so_luong] [int] NOT NULL,
	[gia_nhap] [decimal](10, 2) NOT NULL,
	[created_at] [datetime] NULL,
	[don_vi] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[price_rules]    Script Date: 03/07/2025 8:40:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[price_rules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[day_of_week] [int] NULL,
	[start_hour] [int] NULL,
	[end_hour] [int] NULL,
	[type] [nvarchar](20) NULL,
	[price_per_hour] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salary]    Script Date: 03/07/2025 8:40:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salary](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[month] [int] NOT NULL,
	[year] [int] NOT NULL,
	[total_shift] [int] NULL,
	[total_hours] [decimal](5, 2) NULL,
	[base_salary] [decimal](10, 2) NOT NULL,
	[bonus] [decimal](10, 2) NULL,
	[total_amount]  AS ([base_salary]+[bonus]) PERSISTED,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[work_schedule]    Script Date: 03/07/2025 8:40:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[work_schedule](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[work_date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[note] [text] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bookings] ON 

INSERT [dbo].[bookings] ([id], [customer_id], [court_id], [date], [start_time], [end_time], [type], [price], [created_at], [is_paid], [payment_method]) VALUES (2, 1, 1, CAST(N'2025-06-28' AS Date), CAST(N'07:00:00' AS Time), CAST(N'08:30:00' AS Time), N'pass sân', CAST(75000.00 AS Decimal(10, 2)), CAST(N'2025-06-28T15:06:35.757' AS DateTime), 0, NULL)
INSERT [dbo].[bookings] ([id], [customer_id], [court_id], [date], [start_time], [end_time], [type], [price], [created_at], [is_paid], [payment_method]) VALUES (3, 2, 2, CAST(N'2025-06-28' AS Date), CAST(N'07:00:00' AS Time), CAST(N'08:00:00' AS Time), N'cố định', CAST(98000.00 AS Decimal(10, 2)), CAST(N'2025-06-28T15:06:35.757' AS DateTime), 1, NULL)
INSERT [dbo].[bookings] ([id], [customer_id], [court_id], [date], [start_time], [end_time], [type], [price], [created_at], [is_paid], [payment_method]) VALUES (4, 1, 3, CAST(N'2025-06-28' AS Date), CAST(N'08:00:00' AS Time), CAST(N'09:00:00' AS Time), N'cố định', CAST(50000.00 AS Decimal(10, 2)), CAST(N'2025-06-28T15:06:35.757' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[courts] ON 

INSERT [dbo].[courts] ([id], [name], [status], [created_at]) VALUES (1, N'Sân 1', N'available', CAST(N'2025-06-28T15:03:13.350' AS DateTime))
INSERT [dbo].[courts] ([id], [name], [status], [created_at]) VALUES (2, N'Sân 2', N'available', CAST(N'2025-06-28T15:03:13.350' AS DateTime))
INSERT [dbo].[courts] ([id], [name], [status], [created_at]) VALUES (3, N'Sân 3', N'available', CAST(N'2025-06-28T15:03:13.350' AS DateTime))
SET IDENTITY_INSERT [dbo].[courts] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([id], [name], [phone], [role], [created_at], [password]) VALUES (1, N'Nguyễn Văn A', N'0901234567', N'customer', CAST(N'2025-06-28T15:03:13.350' AS DateTime), N'0901234567')
INSERT [dbo].[customers] ([id], [name], [phone], [role], [created_at], [password]) VALUES (2, N'Nguyễn Thị C', N'0901255558', N'customer', CAST(N'2025-06-28T15:03:13.350' AS DateTime), N'0901255558')
INSERT [dbo].[customers] ([id], [name], [phone], [role], [created_at], [password]) VALUES (3, N'Admin Phú Thịnh', N'0987654321', N'admin', CAST(N'2025-06-28T15:03:13.350' AS DateTime), N'14032004')
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[employees] ON 

INSERT [dbo].[employees] ([id], [name], [phone], [position], [created_at]) VALUES (1, N'Tr?n Th? B?o', N'0912345678', N'Admin', CAST(N'2025-06-28T15:03:13.350' AS DateTime))
INSERT [dbo].[employees] ([id], [name], [phone], [position], [created_at]) VALUES (2, N'Lê Van Chung', N'0923456789', N'Gi? xe', CAST(N'2025-06-28T15:03:13.350' AS DateTime))
SET IDENTITY_INSERT [dbo].[employees] OFF
GO
SET IDENTITY_INSERT [dbo].[invoice_details] ON 

INSERT [dbo].[invoice_details] ([id], [invoice_id], [item_id], [quantity], [unit_price], [created_at]) VALUES (16, 27, 7, 1, CAST(12000.00 AS Decimal(10, 2)), CAST(N'2025-07-03T11:07:35.480' AS DateTime))
INSERT [dbo].[invoice_details] ([id], [invoice_id], [item_id], [quantity], [unit_price], [created_at]) VALUES (17, 27, 8, 1, CAST(18000.00 AS Decimal(10, 2)), CAST(N'2025-07-03T11:07:35.490' AS DateTime))
INSERT [dbo].[invoice_details] ([id], [invoice_id], [item_id], [quantity], [unit_price], [created_at]) VALUES (18, 28, 1, 1, CAST(220000.00 AS Decimal(10, 2)), CAST(N'2025-07-03T11:32:47.090' AS DateTime))
SET IDENTITY_INSERT [dbo].[invoice_details] OFF
GO
SET IDENTITY_INSERT [dbo].[invoices] ON 

INSERT [dbo].[invoices] ([id], [customer_id], [total_amount], [note], [created_at], [is_paid], [payment_method], [payment_image]) VALUES (27, 33, CAST(526500.00 AS Decimal(10, 2)), N'Bán tại quầy', CAST(N'2025-07-03T11:07:35.453' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[invoices] ([id], [customer_id], [total_amount], [note], [created_at], [is_paid], [payment_method], [payment_image]) VALUES (28, 65, CAST(220000.00 AS Decimal(10, 2)), N'Đặt sân tự động', CAST(N'2025-07-03T11:32:47.073' AS DateTime), 0, N'Tiền mặt', NULL)
INSERT [dbo].[invoices] ([id], [customer_id], [total_amount], [note], [created_at], [is_paid], [payment_method], [payment_image]) VALUES (29, 67, CAST(12000.00 AS Decimal(10, 2)), N'Bán tại quầy', CAST(N'2025-07-03T11:36:22.237' AS DateTime), 1, N'Tiền mặt', NULL)
SET IDENTITY_INSERT [dbo].[invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[mat_hang] ON 

INSERT [dbo].[mat_hang] ([id], [ten_hang], [gia_ban], [don_vi_chinh], [don_vi_quy_doi], [so_luong_quy_doi], [gia_nhap], [loai], [created_at], [don_vi], [hinh_anh]) VALUES (1, N'Revie trắng', CAST(12000.00 AS Decimal(10, 2)), N'chai', N'thùng', 24, CAST(10000.00 AS Decimal(10, 2)), N'nước', CAST(N'2025-07-02T18:55:47.173' AS DateTime), N'chai', N'https://cdn.tgdd.vn/Products/Images/3226/83581/bhx/nuoc-ngot-revive-vi-muoi-khoang-chai-500ml-201812060918208543.jpg')
INSERT [dbo].[mat_hang] ([id], [ten_hang], [gia_ban], [don_vi_chinh], [don_vi_quy_doi], [so_luong_quy_doi], [gia_nhap], [loai], [created_at], [don_vi], [hinh_anh]) VALUES (3, N'Nước suối', CAST(9000.00 AS Decimal(10, 2)), N'chai', N'thùng', 24, CAST(5000.00 AS Decimal(10, 2)), N'nước', CAST(N'2025-07-02T18:55:47.173' AS DateTime), N'chai', N'https://sonhawater.com/wp-content/uploads/2019/10/aquafina-355ml-new-2023.jpg')
INSERT [dbo].[mat_hang] ([id], [ten_hang], [gia_ban], [don_vi_chinh], [don_vi_quy_doi], [so_luong_quy_doi], [gia_nhap], [loai], [created_at], [don_vi], [hinh_anh]) VALUES (4, N'Mì modern', CAST(8000.00 AS Decimal(10, 2)), N'ly', N'thùng', 24, CAST(5000.00 AS Decimal(10, 2)), N'mì', CAST(N'2025-07-02T18:55:47.173' AS DateTime), N'ly', N'https://cdn.tgdd.vn/Products/Images/2565/77738/bhx/mi-modern-lau-thai-tom-ly-65g-202207051319061550.jpg')
SET IDENTITY_INSERT [dbo].[mat_hang] OFF
GO
SET IDENTITY_INSERT [dbo].[nhap_kho] ON 

INSERT [dbo].[nhap_kho] ([id], [item_id], [so_luong], [gia_nhap], [created_at], [don_vi]) VALUES (3, 3, 2, CAST(72000.00 AS Decimal(10, 2)), CAST(N'2025-07-02T18:57:57.963' AS DateTime), N'thùng')
INSERT [dbo].[nhap_kho] ([id], [item_id], [so_luong], [gia_nhap], [created_at], [don_vi]) VALUES (4, 4, 5, CAST(5000.00 AS Decimal(10, 2)), CAST(N'2025-07-02T18:57:57.963' AS DateTime), N'gói')
INSERT [dbo].[nhap_kho] ([id], [item_id], [so_luong], [gia_nhap], [created_at], [don_vi]) VALUES (5, 3, 2, CAST(72000.00 AS Decimal(10, 2)), CAST(N'2025-07-02T19:34:45.540' AS DateTime), N'thùng')
SET IDENTITY_INSERT [dbo].[nhap_kho] OFF
GO
SET IDENTITY_INSERT [dbo].[price_rules] ON 

INSERT [dbo].[price_rules] ([id], [day_of_week], [start_hour], [end_hour], [type], [price_per_hour]) VALUES (11, 0, 5, 17, N'vãng lai', CAST(89000.00 AS Decimal(10, 2)))
INSERT [dbo].[price_rules] ([id], [day_of_week], [start_hour], [end_hour], [type], [price_per_hour]) VALUES (12, 0, 17, 18, N'vãng lai', CAST(89000.00 AS Decimal(10, 2)))
INSERT [dbo].[price_rules] ([id], [day_of_week], [start_hour], [end_hour], [type], [price_per_hour]) VALUES (13, 0, 18, 24, N'vãng lai', CAST(89000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[price_rules] OFF
GO
SET IDENTITY_INSERT [dbo].[salary] ON 

INSERT [dbo].[salary] ([id], [employee_id], [month], [year], [total_shift], [total_hours], [base_salary], [bonus], [created_at]) VALUES (1, 1, 6, 2025, 20, CAST(120.00 AS Decimal(5, 2)), CAST(5000000.00 AS Decimal(10, 2)), CAST(500000.00 AS Decimal(10, 2)), CAST(N'2025-06-28T15:03:13.353' AS DateTime))
INSERT [dbo].[salary] ([id], [employee_id], [month], [year], [total_shift], [total_hours], [base_salary], [bonus], [created_at]) VALUES (2, 2, 6, 2025, 18, CAST(108.00 AS Decimal(5, 2)), CAST(4500000.00 AS Decimal(10, 2)), CAST(400000.00 AS Decimal(10, 2)), CAST(N'2025-06-28T15:03:13.353' AS DateTime))
SET IDENTITY_INSERT [dbo].[salary] OFF
GO
INSERT [dbo].[ton_kho] ([item_id], [so_luong_ton]) VALUES (1, 221)
INSERT [dbo].[ton_kho] ([item_id], [so_luong_ton]) VALUES (3, 94)
INSERT [dbo].[ton_kho] ([item_id], [so_luong_ton]) VALUES (4, 9)
GO
SET IDENTITY_INSERT [dbo].[work_schedule] ON 

INSERT [dbo].[work_schedule] ([id], [employee_id], [work_date], [start_time], [end_time], [note], [created_at]) VALUES (1, 1, CAST(N'2025-06-28' AS Date), CAST(N'07:00:00' AS Time), CAST(N'12:00:00' AS Time), N'Tr?c sáng', CAST(N'2025-06-28T15:03:13.353' AS DateTime))
INSERT [dbo].[work_schedule] ([id], [employee_id], [work_date], [start_time], [end_time], [note], [created_at]) VALUES (2, 2, CAST(N'2025-06-28' AS Date), CAST(N'12:00:00' AS Time), CAST(N'18:00:00' AS Time), N'Tr?c chi?u', CAST(N'2025-06-28T15:03:13.353' AS DateTime))
SET IDENTITY_INSERT [dbo].[work_schedule] OFF
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ((0)) FOR [is_paid]
GO
ALTER TABLE [dbo].[courts] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[courts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (N'customer') FOR [role]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (N'') FOR [password]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[invoice_details] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[invoice_details] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT ((0)) FOR [is_paid]
GO
ALTER TABLE [dbo].[mat_hang] ADD  DEFAULT ((1)) FOR [so_luong_quy_doi]
GO
ALTER TABLE [dbo].[mat_hang] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[nhap_kho] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[nhap_kho] ADD  DEFAULT (N'chưa rõ') FOR [don_vi]
GO
ALTER TABLE [dbo].[salary] ADD  DEFAULT ((0)) FOR [total_shift]
GO
ALTER TABLE [dbo].[salary] ADD  DEFAULT ((0.0)) FOR [total_hours]
GO
ALTER TABLE [dbo].[salary] ADD  DEFAULT ((0.0)) FOR [bonus]
GO
ALTER TABLE [dbo].[salary] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ton_kho] ADD  DEFAULT ((0)) FOR [so_luong_ton]
GO
ALTER TABLE [dbo].[work_schedule] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD FOREIGN KEY([court_id])
REFERENCES [dbo].[courts] ([id])
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[invoice_details]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
GO
ALTER TABLE [dbo].[invoice_details]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[mat_hang] ([id])
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[nhap_kho]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[mat_hang] ([id])
GO
ALTER TABLE [dbo].[salary]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[ton_kho]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[mat_hang] ([id])
GO
ALTER TABLE [dbo].[work_schedule]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [CK_bookings_type] CHECK  (([type]=N'vãng lai' OR [type]=N'cố định' OR [type]=N'pass sân' OR [type]=N'giờ lẻ' OR [type]=N'giờ chẵn'))
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [CK_bookings_type]
GO
ALTER TABLE [dbo].[courts]  WITH CHECK ADD CHECK  (([status]='maintenance' OR [status]='available'))
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD CHECK  (([role]=N'customer' OR [role]=N'admin'))
GO
USE [master]
GO
