<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bluestar24-001-site1.ltempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win1035.site4now.net:8172/msdeploy.axd?site=bluestar24-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>bluestar24-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>bluestar24-001</UserName>
    <_SavePWD>false</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="QL_SanCauLong.Models.QuanLySanCauLongEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL1004.site4now.net;Initial Catalog=db_abb539_dbqlsancaulong;User ID=db_abb539_dbqlsancaulong_admin;Password=Cuong-140324;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="QL_SanCauLong.Models.QuanLySanCauLongEntities, QL_SanCauLong" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="QL_SanCauLong.Models.QuanLySanCauLongEntities-Web.config Connection String">
      <ParameterValue>Data Source=SQL1004.site4now.net;Initial Catalog=db_abb539_dbqlsancaulong;User ID=db_abb539_dbqlsancaulong_admin;Password=Cuong-140324;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="QL_SanCauLong.Models.QuanLySanCauLongEntities" />
  </ItemGroup>
</Project>