<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bluestar24-001-site1.ltempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win1035.site4now.net:8172/msdeploy.axd?site=bluestar24-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>bluestar24-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>bluestar24-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="QuanLySanCauLongEntities3" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL1004.site4now.net;Initial Catalog=db_abb539_dbquanlycaulong;User ID=db_abb539_dbquanlycaulong_admin;Password=Cuong-140324" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="QL_SanCauLong.Models.QuanLySanCauLongEntities3, QL_SanCauLong" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QuanLySanCauLongEntities1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=XUANCUONG-PC;Initial Catalog=QuanLySanCauLong;Integrated Security=True;MultipleActiveResultSets=True;Encrypt=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QuanLySanCauLongEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.QuanLySanCauLong.csdl|res://*/Models.QuanLySanCauLong.ssdl|res://*/Models.QuanLySanCauLong.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XUANCUONG-PC;initial catalog=QuanLySanCauLong;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QuanLySanCauLongEntities2" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=XUANCUONG-PC;Initial Catalog=QuanLySanCauLong;Integrated Security=True;MultipleActiveResultSets=True;Encrypt=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QuanLySanCauLongEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.QuanLySanCauLong.csdl|res://*/Models.QuanLySanCauLong.ssdl|res://*/Models.QuanLySanCauLong.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XUANCUONG-PC;initial catalog=QuanLySanCauLong;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QuanLySanCauLongEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=XUANCUONG-PC;Initial Catalog=QuanLySanCauLong;Integrated Security=True;MultipleActiveResultSets=True;Encrypt=False;TrustServerCertificate=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QuanLySanCauLongEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.QuanLySanCauLong.csdl|res://*/Models.QuanLySanCauLong.ssdl|res://*/Models.QuanLySanCauLong.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XUANCUONG-PC;initial catalog=QuanLySanCauLong;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuanLySanCauLongEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuanLySanCauLongEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="QuanLySanCauLongEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="QuanLySanCauLongEntities3-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.QuanLySanCauLong.csdl|res://*/Models.QuanLySanCauLong.ssdl|res://*/Models.QuanLySanCauLong.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL1004.site4now.net;Initial Catalog=db_abb539_dbquanlycaulong;User ID=db_abb539_dbquanlycaulong_admin;Password=Cuong-140324"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>